.Header {
    height: 50px;
    background: white;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .Header .container {
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

